header {
    background-color: #1A1D1A;
    color: white;
    height: 60px;
    width: 100%;
    display: flex;
    line-height: 60px;
    box-shadow: 0 7px 3px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.22);
}

header img {
    height: 60px;
}

.item-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.id {
    color: white;
    text-decoration: none;
    padding: auto;
    margin: 0 25px;
}

.headerLink {
    text-decoration: none;
}
.signIn {
    margin-right: 10px;
    width: 65px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.SVGlogo {
    fill: white;
    margin: 17px 10px;
}