#age-checkbox {
  margin-right: 15px;
}

.footlist {
  display: flex;
  justify-content: space-evenly;
  height: 180px;
}

.footul {
  position: relative;
}

.rights {
  margin: auto;
  height: 28px;
  width: 100%;
  color: white;
  background-color: black;
  padding-top: 4px;
}

#email {
  padding: 0 16px;
  height: 50px;
  box-sizing: border-box;
  flex: 1 1 auto;
}

#but {
  height: 50px;
  width: 355px;
  display: flex;
}

#form {
  display: block;
  justify-content: center;

}

.upform {
  display: flex;
  align-items: center;
  flex-flow: column;
}

footer {
  background-color: #FFBA49;
  text-align: center;
}

.input-section {
  height: 50px;
  display: flex;
  justify-content: center;
  width: 450px;
}

.short-button {
  width: 100px !important;
}

.footer-row {
  margin-bottom: 15px;
}