* {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
}

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
}

#root {
  height: 100vh;
}
.main-content{
  background-color: #E8EEF2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
