.item-list {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.item {
  width: 274px;
  height: 401px;
  padding: 5px;
  /* background-color: rgb(194, 194, 194); */
  margin: 13px 0 5px 0;
  text-align: center;
  color: black;
  /* border: 1px solid grey; */
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.item:hover{
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
}

.item img {
  height: 89%;
  width: 100%;
  border-radius: 5px;
  /* color: #ffffff; */
}

.item-list a {
  text-decoration: none;

}

.description {
  display: inline-block;
  width: 100%;
  height: 11%;
  font-size: larger;
  padding-top: 7px;
  color: rgb(21, 21, 21);
}