.item-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.item {
  width: 274px;
  height: 401px;
  padding: 5px;
  margin: 13px 0 5px 0;
  cursor: pointer;
  transition-duration: 0.4s;
}
.item:hover{
  background-color: rgb(180, 180, 180);
}

.item img {
  height: 89%;
  width: 100%;

}

.item-list a {
  text-decoration: none;

}

.description {
  display: inline-block;
  width: 100%;
  height: 11%;
  font-size: larger;
  padding-top: 7px;
  color: rgb(21, 21, 21);
}